<div class="basic-container">
  <p>
    <button mat-raised-button (click)="openDialog()" [disabled]="addFormOpen">Add</button>
  </p>
  <dialog id="formdialog">

  </dialog>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris posuere nulla turpis, at elementum libero congue
    sed. Nunc eleifend neque nec mi finibus, nec dapibus dolor egestas. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Morbi euismod quam in sapien finibus tempor. Sed quis neque rhoncus, fringilla ex sed, pellentesque
    ligula. Donec sodales elit nec augue laoreet, sed cursus enim gravida. Morbi interdum eget metus sed vestibulum.
    Curabitur hendrerit turpis felis, non efficitur magna placerat nec. In cursus mollis cursus. Ut sed lectus et nibh
    ultricies ultrices. Vestibulum luctus dui purus, eu mollis dui malesuada a. Nunc at lorem in justo auctor aliquam.

    Phasellus eget lorem eu felis auctor molestie. Sed sit amet interdum urna, vel aliquet leo. Proin in tincidunt quam.
    Proin dapibus dictum tellus, at semper orci luctus at. Etiam convallis leo nec mauris luctus gravida. Pellentesque
    accumsan risus et lectus commodo, eu iaculis eros sollicitudin. Pellentesque varius libero et lorem placerat
    commodo. Phasellus tristique in tortor non dictum. Curabitur orci est, fermentum a nisl a, blandit mollis tortor.
    Nulla at euismod magna. Vestibulum congue condimentum quam id interdum. Morbi condimentum vulputate eleifend.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer in dui odio. Nullam sit amet elementum magna,
    vel elementum urna. Cras turpis nibh, hendrerit non sapien id, convallis rutrum nisi. Donec.
  </p>
</div>
